<!DOCTYPE html>
<html>
<head>
    <title>Google Maps - Exterior Cleaners App</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
</head>
<body onload="initMap()">
    <h1>Google Maps View</h1>
    <div id="map" style="height: 500px;"></div>
</body>
</html>
